[user]
	email = erik.rairden@gmail.com
	name = Rairden

[color]
	ui = auto

[core]
	excludesfile = /home/erik/.dotfiles/gitignore/.gitignore_global
	symlinks = false
	pager = "less -x1,5"

[init]
	defaultBranch = "master"
